{% extends 'base.html.twig' %}



{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }


    </style>
<div class="paralaxe mt-4 mb-4">
    <div class="container ">
        <h1>AMFC pour l'industrie</h1>
        <div class="row">

        <div class="col m-3">
             <p>C’est un savoir-faire, une réactivité, un service de qualité dans le respect de la sécurité, la santé et l’environnement.</p>
            <p>Je met tout en œuvre pour que mes future clients disposent d’un service irréprochable qui allie
                le respect des délais et les exigences de qualité mes clients qui sont ma priorité n°1.
                Je leur dois écoute et amélioration constante de la qualité de nos produits et services,
                je engage à satisfaire leurs exigences et garantir l'efficacité de nos services. A cette fin,
                nous nous devons de développer un rapport de confiance, d'intégrité et de fiabilité, à tous les niveaux.
            </p>
        </div>
        <div class="col m-5">
            <img class="img-fluid" src="{{ asset('images/templates/usine.jpg') }}"  alt="">
        </div>
        </div>

    </div>

</div>


<div class="container">
    <h1>Nos réalisation en cours</h1>
        <div class="row">
            <div class="col m-1">
                <div class="card-deck">
                        <div class="card"   >
                            <div class="card-body" >
                                    <img  class="card-img-top" src="{{ asset('images/templates/usine.jpg') }}" alt="">
                                <h5 class="card-title">tire</h5>
                            </div>
                            <div class="card-body" >
                                <img  class="card-img-top" src="{{ asset('images/templates/usine.jpg') }}" alt="">
                                <h5 class="card-title">tire</h5>
                            </div>
                            <div class="card-body" >
                                <img  class="card-img-top" src="{{ asset('images/templates/usine.jpg') }}" alt="">
                                <h5 class="card-title">tire</h5>
                            </div>
                            <div class="card-body" >
                                <img  class="card-img-top" src="{{ asset('images/templates/usine.jpg') }}" alt="">
                                <h5 class="card-title">tire</h5>
                            </div>

                </div>
            </div>
        </div>
</div>









{% endblock %}
