{% extends 'base.html.twig' %}

{% block title %}Amfc pour les industries{% endblock %}

{% block body %}
    <style>

        .lightbox {
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 1em;
            visiblity: hidden;
            z-index: 9999;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: 9999;
            /* Les couleurs */
            background: rgb(255,0,0);
            background: transparent\9;
            background: rgba(0, 0, 0, 0.8);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFF0000,endColorstr=#4cFF0000);
            zoom: 1;
            /* effet de fermeture */
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            -webkit-transform: rotate(0deg) scale(0);
            -moz-transform: rotate(0deg) scale(0);
            -ms-transform: rotate(0deg) scale(0);
            -o-transform: rotate(0deg) scale(0);
            transform: rotate(0deg) scale(0);
            -webkit-transform-origin: right top;
            -moz-transform-origin: right top;
            -o-transform-origin: right top;
            transform-origin: right top;
        }
        .lightbox:target {
            opacity: 1;
            visiblity: visible;
            /* effet d'ouverture */
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            -webkit-transform: rotate(0deg) scale(1);
            -moz-transform: rotate(0deg) scale(1);
            -ms-transform: rotate(0deg) scale(1);
            -o-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
            -webkit-transform-origin: left bottom;
            -moz-transform-origin: left bottom;
            -o-transform-origin: left bottom;
            transform-origin: left bottom;
        }
        /* Image de taille maximale */
        .maximage {
            max-height:93%;
        }

    </style>
<div class="paralaxe mt-4 mb-4">
    <div class="container ">
        <h1>AMFC pour l'industrie</h1>
        <div class="row">

        <div class="col m-3">
             <p>C’est un savoir-faire, une réactivité, un service de qualité dans le respect de la sécurité, la santé et l’environnement.</p>
            <p>Je met tout en œuvre pour que mes future clients disposent d’un service irréprochable qui allie
                le respect des délais et les exigences de qualité mes clients qui sont ma priorité n°1.
                Je leur dois écoute et amélioration constante de la qualité de nos produits et services,
                je engage à satisfaire leurs exigences et garantir l'efficacité de nos services. A cette fin,
                nous nous devons de développer un rapport de confiance, d'intégrité et de fiabilité, à tous les niveaux.
            </p>
        </div>
        <div class="col m-5">
            <img class="img-fluid" src="{{ asset('images/templates/usine.jpg') }}"  alt="">
        </div>
        </div>

    </div>

</div>


    <div class="container">
        <h1>Quelques réalisations</h1>
        <div class="row ">
            {% for photo in photos %}
                <div class="col-sm-2 col-md-4 col-lg-3  ">
                    <a href="#{{ asset('images/photos/') }}{{ photo.image }}">
                        <img src="{{ asset('images/photos/') }}{{ photo.image }}" class="img-thumbnail"  alt="{{ photo.name }}">
                    </a>
                    <a href="#_" class="lightbox" id="{{ asset('images/photos/') }}{{ photo.image }}">
                        <img src="{{ asset('images/photos/') }}{{ photo.image }}" class="maximage" >
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>









{% endblock %}
